.hero {
  $height: 25rem;
  &__image {
    @apply absolute top-0 left-0 h-0 w-full overflow-hidden;
    padding-bottom: $height;

    & img {
      @apply absolute top-0 left-0 w-full h-full object-cover object-center;
    }
  }

  &__wrapper {
    padding-top: $height * 0.8;
  }

  .dark &__bloglist {
    background-color: rgba(49, 49, 49, 1);
  }
}
