.worklist {
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  max-width: 800px;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
  }

  &__dialog {
    $dialog: &;
    @apply p-3 border-2 bg-white rounded;

    &--expanded {
      @extend #{$dialog};
      @apply max-w-3xl 2xl:w-full mx-auto;
    }
  }

  &__title {
    @apply text-base mb-2;

    &--expanded {
      @apply text-xl mb-3;
    }
  }

  &__description {
    @apply text-sm text-gray-600;

    &--expanded {
      @apply text-base mb-3;
    }
  }

  &__reset-button {
    @apply absolute right-5 top-0 w-8 h-8 mt-2 bg-gray-100 rounded-full;
  }
}
