/*------------------ Import Tailwind --------------------*/
@tailwind base;
@tailwind components;
@tailwind utilities;
/*------------------ **************** ---------------------*/

/*------------------ Custom Base Styles --------------------*/
/*------------------- **************** ---------------------*/

/*------------------ Custom Components ---------------------*/

/*------------------ Sticky Footer ---------------------*/
html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 100%;
}
/*------------------- **************** ---------------------*/
